altair
annotated-types
anthropic
anyio
astor
attrs
blinker
cachetools
certifi
charset-normalizer
click
contourpy
cycler
distro
duckdb
et_xmlfile
fonttools
gitdb
GitPython
h11
httpcore
httpx
idna
Jinja2
jiter
joblib
jsonschema
jsonschema-specifications
kiwisolver
MarkupSafe
matplotlib
narwhals
numpy
openai
openpyxl
packaging
pandas
patsy
pillow
plotly
protobuf
pyarrow
pydantic
pydantic_core
pydeck
pyparsing
python-dateutil
python-dotenv
pytz
PyYAML
referencing
requests
rpds-py
scikit-learn
scipy
seaborn
six
smmap
sniffio
SQLAlchemy
sqlglot
statsmodels
streamlit
tenacity
threadpoolctl
toml
tornado
tqdm
typing-inspection
typing_extensions
tzdata
urllib3
